@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Ownglyph_meetme-Rg';
    font-size: 20px;
}

body {
    margin: 0;
    background-color: #fff3e0;
}

.list-bg {
    padding: 10px;
}

.list-item {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
    opacity: 1;
    transition: all 1s;
}

.list-item h4 {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
}

.list-item p {
    color: grey;
    margin: 5px 0;
}

.detail-bg {
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.p-20 {
    padding: 20px;
}

.p-20 > h4 {
    font-size: 24px;
}

.p-20 > form > input {
    width: 500px;
}

.p-20 > form > textarea {
    width: 500px;
    height: 200px;
}

input, textarea {
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
    border: solid 2px #8d6e63;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #8d6e63;
    border: none;
    border-radius: 5px;
    color: #fff3e0;
}

.navbar {
    background: white;
    padding: 20px;
}

.navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.logo {
    font-weight: bold;
}

span {
    margin-left: 10px;
}

.comment {
    margin: 15px 0;
}

.comment_area {
    display: inline-block;
    /*margin-right: 20px;*/
    width: 500px;
    /*margin-bottom: 10px;*/
    margin: 10px 20px 10px 0;
}

.detail_title {
    display: inline-block;
}

.detail_author_name {
    display: inline-block;
    margin-right: 5px;
}

hr {
    border: 0px;
    border-top: 2px dotted #3e2723;
}

.register {
    margin-left: 20px;
    margin-top: 30px;
}
